html {
    scroll-behavior: smooth;
}

body {
    background-color: brown
}

.wrapper {
    background-color: rgb(0, 119, 99);
    margin: 0 auto;
    width: 1380px;
}

header {
    display: flex;
    background-color: yellow;
}

.header_logo {
    width: 90%;
}

.heading {
    display: flex;
    align-items: center;
    border: 1px solid black;
}

.header_search {
    width: 10%;
    display: flex;
    border: 1px solid black;
    
}

.search {
    display: flex;
    align-items: flex-end;
    text-align: right;
}

nav {
    width: 70%;
    display: flex;
    margin: 0 auto;
    border: 1px solid black;
}

nav ul {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    
}

nav ul li {
    margin: 0 auto;
    width: 15%;
    font-size: 18px;
    background-color: yellow;
    list-style: none;
    text-align: center;
    border-radius: 10px;
}

img {
    width: 150px;

}

article {
    display: flex;
}